# Dependency directories
node_modules

# Environment variables
.env

# Build artifacts
dist

# Migration files
migrations/*

# Models
models/product.js
models/cart.js

# Seeders
seeders/*

# Databases
database.sqlite
test_database.sqlite